html, body {
    height: 100%;
    background-image: url(/public/Img/Krasnokamensk.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    display: flex;
    flex-direction: column;
}
.arr1 {
    padding: 60px;
    position: relative;
    padding-bottom: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1 {
    width: 400px;
    margin-left: 50px;
}
.text {
    width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #fbd304;
    text-indent: 30px;
}
.section120 {
    padding: 20px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbd304;
    
}
.acf {
    padding-left: 30px;
}
.logo_img1 {
    max-width: 100px;
    display: block;
}
.logo_block {
    width: 30%;
    float: left;
    display: block;
    width: 120px;
}
.text2_li {
    list-style-type: none;
}
